# Oil Consumption Ridge Machine Learning

In [1]:
# Import dependencies

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

In [2]:
# Read the csv files into a pandas DataFrame

oil_cons = pd.read_csv('../data/clean_data_final/final_clean_data/Oil Consumption - Barrels-YearFixed-Python.csv')
oil_cons = oil_cons.rename(columns={"Total World": "World Barrels"})
pop = pd.read_csv('../data/clean_data/WorldPopulationbyYear.csv')
pop = pop.rename(columns={"World": "World Population"})
oil_pop = pop.merge(oil_cons, on="Year")
gdp = pd.read_csv('../data/clean_data_final/final_clean_data/GDP%-YearFixed-Python.csv', encoding = "ISO-8859-1")
filteredGDP = gdp[["Year", "United States", "World"]]
filteredGDP = filteredGDP.rename(columns={"United States": "US GDP%", "World": "World GDP%"})
inflation = pd.read_csv('../data/clean_data_final/final_clean_data/InflationAnnual%-YearFixed-Python.csv', encoding = "ISO-8859-1")
filteredInflation = inflation[["Year", "United States", "World"]]
filteredInflation = filteredInflation.rename(columns={"United States": "US Inflation%", "World": "World Inflation%"})
goodsTax = pd.read_csv('../data/clean_data_final/final_clean_data/Taxes%-YearFixed-Python.csv', encoding = "ISO-8859-1")
filteredGoodsTax = goodsTax[["Year", "United States", "World"]]
filteredGoodsTax = filteredGoodsTax.rename(columns={"United States": "US Goods Tax%", "World": "World Goods Tax%"})

# Merge dataframes on Year
gdp_oil_pop = oil_pop.merge(filteredGDP, on="Year")
gdp_oil_pop_infl = gdp_oil_pop.merge(filteredInflation, on="Year")
full_merge = gdp_oil_pop_infl.merge(filteredGoodsTax, on="Year")

# Drop 2019 row - There's multiple features set to 0.  Will later run prediction on 2019
full_merge = full_merge.drop([54])

# Clean NaNs - change to 0 so columns are same length
full_merge = full_merge.replace(np.nan, 0)
full_merge

,Year,World Population,Canada,Mexico,US,Total North America,Argentina,Brazil,Chile,Colombia,...,World Barrels,of which: OECD,Non-OECD,European Union #,US GDP%,World GDP%,US Inflation%,World Inflation%,US Goods Tax%,World Goods Tax%
0,1965,3322973367,1108,316,11522,12946,432,306,71,81,...,30771,23109,7662,7799,0.000000,0.000000,1.585169,0.000000,0.000000,0.000000
1,1966,3393031801,1167,333,12100,13601,447,335,77,92,...,33137,24873,8264,8566,0.000000,0.000000,3.015075,0.000000,0.000000,0.000000
2,1967,3462460201,1246,357,12567,14170,460,345,82,93,...,35503,26682,8821,9302,0.000000,0.000000,2.772786,0.000000,0.000000,0.000000
3,1968,3532826854,1322,386,13405,15113,469,412,86,104,...,38420,28978,9442,10181,0.000000,0.000000,4.271796,0.000000,0.000000,0.000000
4,1969,3607499991,1380,410,14153,15943,492,457,92,100,...,41727,31585,10142,11383,0.000000,0.000000,5.462386,0.000000,0.000000,0.000000
5,1970,3682911039,1472,441,14710,16622,448,513,98,116,...,45313,34178,11135,12596,21.414736,26.911121,5.838255,0.000000,0.000000,0.000000
6,1971,3760509002,1512,467,15223,17202,480,564,108,120,...,47886,35839,12047,13188,21.919818,26.526697,4.292767,0.000000,0.000000,0.000000
7,1972,3836892580,1589,523,16381,18493,479,649,114,135,...,51430,38369,13061,14096,22.580622,26.164536,3.272278,0.000000,7.143859,0.000000
8,1973,3912347640,1682,564,17318,19564,483,797,110,131,...,55577,41284,14293,15129,23.331809,27.054172,6.177760,0.000000,6.579487,0.000000
9,1974,3988478324,1713,629,16631,18973,483,860,105,145,...,54790,39574,15217,14212,22.694942,27.896165,11.054805,0.000000,5.990202,0.000000
10,1975,4062864562,1682,690,16334,18706,458,888,92,145,...,54342,38525,15817,13716,20.277476,25.909123,9.143147,0.000000,5.626993,0.000000
11,1976,4135418002,1789,754,17461,20004,473,958,97,152,...,57706,40966,16740,14598,22.038398,26.450586,5.744813,0.000000,5.410532,0.000000
12,1977,4207766711,1812,780,18443,21035,498,982,100,153,...,59921,42130,17791,14473,23.526270,26.629795,6.501684,0.000000,4.678032,0.000000
13,1978,4281312782,1849,889,18756,21494,500,1068,109,157,...,62896,43923,18974,15353,24.831785,27.184231,7.630964,0.000000,4.357011,0.000000
14,1979,4356746035,1931,962,18438,21331,528,1123,110,166,...,64025,44242,19783,15764,25.111120,27.392791,11.254471,0.000000,3.794360,0.000000
15,1980,4432925590,1898,1072,17062,20032,490,1080,111,157,...,61408,41265,20143,14652,23.310271,26.883838,13.549202,0.000000,4.411226,0.000000
16,1981,4511137170,1788,1196,16060,19044,458,1041,116,161,...,59533,39118,20415,13715,24.276857,26.389981,10.334715,12.482070,6.358336,0.000000
17,1982,4592341169,1609,1255,15295,18158,441,1067,104,166,...,57845,37261,20585,13047,22.070083,25.109031,6.131427,10.221727,5.478995,0.000000
18,1983,4674266079,1518,1228,15235,17980,451,1018,100,172,...,57665,36846,20819,12725,22.252987,24.601174,3.212435,8.669272,5.384804,0.000000
19,1984,4755914211,1540,1293,15725,18558,427,1031,100,171,...,58908,37772,21136,12813,25.095818,25.344400,4.300535,8.217653,5.157868,0.000000
20,1985,4839074592,1556,1357,15726,18639,389,1052,98,179,...,59319,37952,21367,13060,24.188340,25.319454,3.545644,6.807567,4.506918,0.000000
21,1986,4924736807,1559,1394,16281,19234,448,1168,104,178,...,61101,39117,21983,13472,23.740625,25.095420,1.898048,5.823107,3.947416,0.000000
22,1987,5012555212,1627,1448,16665,19740,477,1207,109,187,...,62436,39751,22685,13493,23.620231,25.373399,3.664563,5.756464,3.518278,0.000000
23,1988,5101297281,1710,1435,17283,20428,475,1224,120,196,...,64407,41094,23313,13626,22.827808,26.239090,4.077741,7.196970,3.638177,0.000000
24,1989,5189996799,1771,1538,17325,20633,435,1236,133,203,...,65632,41696,23936,13689,22.513799,26.624424,4.827003,6.999093,3.208638,0.000000
25,1990,5280076284,1747,1611,16939,20298,412,1229,140,206,...,66364,41975,24389,13998,21.529213,25.923266,5.397956,8.215536,3.212851,0.000000
26,1991,5368065408,1659,1687,16659,20005,426,1242,156,211,...,66477,42112,24365,13990,20.110605,25.392887,4.234964,8.996939,3.609554,0.000000
27,1992,5452349932,1689,1708,16969,20366,449,1329,169,231,...,67561,43034,24526,14042,20.077582,25.210322,3.028820,7.636109,3.898273,0.000000
28,1993,5537511534,1697,1715,17161,20573,447,1389,185,246,...,67397,43316,24081,13913,20.393628,24.917159,2.951657,7.144587,3.840156,0.000000
29,1994,5621787194,1726,1824,17635,21185,433,1484,198,254,...,68976,44540,24436,13991,21.279097,24.930955,2.607442,10.143683,4.106130,0.000000
30,1995,5706689090,1848,1722,17635,21205,432,1553,218,266,...,70095,45169,24926,14247,21.272649,24.806326,2.805420,9.073536,3.967159,0.000000
31,1996,5789623839,1889,1745,18245,21879,447,1635,231,274,...,71642,46365,25277,14506,21.701815,24.650589,2.931204,6.550973,3.493396,0.000000
32,1997,5872254361,1969,1784,18539,22291,450,1764,250,281,...,73741,47111,26630,14606,22.409709,24.676491,2.337690,5.536007,3.366138,0.000000
33,1998,5954005524,2002,1881,18827,22710,459,1838,256,275,...,74119,47370,26749,14967,22.958333,24.418578,1.552279,5.110250,3.140164,33.792780
34,1999,6034491778,2061,1874,19425,23361,431,1889,259,246,...,75674,48284,27390,14884,23.420368,24.101122,2.188027,3.079499,3.617373,0.000000
35,2000,6114332536,2043,1952,19594,23588,432,1843,253,239,...,76485,48238,28247,14641,23.675148,24.448252,3.376857,3.494465,3.182633,0.000000
36,2001,6193671787,2094,1925,19534,23553,427,1886,242,225,...,77366,48241,29125,14879,22.176948,23.948517,2.826171,3.878938,3.129721,33.039462
37,2002,6272752974,2172,1848,19625,23645,395,1845,252,221,...,78238,48231,30007,14787,21.708139,23.358527,1.586032,2.907999,3.517331,32.575330
38,2003,6351882361,2228,1901,19848,23977,407,1794,244,230,...,79908,48757,31151,14856,21.742224,23.817492,2.270095,3.020643,3.573926,33.607547
39,2004,6431551644,2309,1975,20499,24783,427,1854,257,228,...,82654,49453,33201,14934,22.658575,24.685993,2.677237,3.382647,3.496313,34.915823
40,2005,6511748367,2290,2017,20532,24839,451,1894,266,237,...,83891,49757,34134,15064,23.380303,24.921953,3.392747,4.112184,3.167210,34.949972
41,2006,6592734542,2279,2008,20313,24600,474,1939,293,234,...,84916,49443,35473,15043,23.539185,25.404324,3.225944,4.267175,2.817742,33.734591
42,2007,6674203658,2345,2089,20208,24643,528,2015,377,232,...,86100,49160,36939,14727,22.592492,25.791610,2.852672,4.827047,2.436469,33.746476
43,2008,6756917904,2300,2080,18841,23221,540,2096,390,248,...,85170,47293,37877,14527,21.119017,25.620517,3.839100,8.949953,2.472901,32.268633
44,2009,6839574284,2183,2021,18030,22235,532,2078,383,230,...,84083,45155,38927,13779,17.804581,23.391521,-0.355546,2.928564,3.008888,31.557385
45,2010,6921871614,2333,2040,18324,22697,582,2271,343,256,...,86856,45547,41308,13669,18.743104,24.207113,1.640043,3.326345,2.759912,31.875890
46,2011,7002860604,2397,2065,17983,22445,591,2432,371,274,...,87820,44976,42844,13258,19.103526,24.547417,3.156842,4.839403,2.956038,33.264196
47,2012,7085763408,2330,2083,17594,22006,614,2509,376,294,...,88784,44457,44327,12740,20.020890,24.404915,2.069337,3.707818,2.991670,33.271756
48,2013,7169640142,2345,2034,18006,22385,658,2655,362,297,...,90152,44465,45687,12526,20.413743,24.310278,1.464833,2.605818,2.840751,32.787076
49,2014,7254228377,2387,1960,18136,22483,643,2721,353,315,...,90903,44092,46811,12315,20.812680,24.470283,1.622223,2.346269,2.978668,33.191709
50,2015,7338964960,2347,1939,18524,22810,662,2559,355,331,...,92610,44700,47910,12507,21.099052,24.297531,0.118627,1.393330,2.940638,33.724915
51,2016,7424282488,2393,1950,18618,22961,651,2436,377,343,...,94404,45210,49194,12746,20.387569,23.913640,1.261583,1.486007,2.832608,34.248831
52,2017,7509065705,2393,1883,18883,23160,637,2481,364,338,...,96013,45747,50266,12996,20.658987,24.222791,2.130110,2.233522,2.366356,33.333664
53,2018,7591932907,2443,1821,19428,23692,611,2377,374,341,...,97348,46115,51233,12976,21.021222,24.382773,2.442583,2.458142,3.044843,34.011405

## Ridge

In [3]:
model = Ridge(alpha=.01)

## One-step Forecast

In [4]:
# Using 2000 - 2009 data to run historical prediction 2001 - 2010

predict0110=[]

for year in range(10):
    i = 36 + year

    # Does not need .value.reshape(-1, 1) as there's dimension now with 2+ features
    hist_X = full_merge[["World Population", "World Inflation%", "World Goods Tax%", "World GDP%"]]
    hist_y = full_merge["World Barrels"].values.reshape(-1, 1)
    X_scaler = StandardScaler().fit(hist_X)
    y_scaler = StandardScaler().fit(hist_y)
    X_train_scaled = X_scaler.transform(hist_X)
    y_train_scaled = y_scaler.transform(hist_y)
    X_train_scaled = pd.DataFrame(X_train_scaled)
    ridge = model.fit(X_train_scaled.iloc[(i-21):i], y_train_scaled[(i-21):i])
    
    # changed reshape to (1, -1)
    oil_predict = ridge.predict(X_train_scaled.iloc[i-1].values.reshape(1, -1))
    predict0110.append(oil_predict.flatten()[0])
    
# Invert predict0110 so it's not scaled for later comoparison
inv_predict0110 = y_scaler.inverse_transform(predict0110)

print(inv_predict0110)

[75801.62159035 77038.68389848 78118.65238068 79554.1460939
 81806.87766185 83339.25129751 84942.31637668 86333.15602943
 85595.09849837 85509.7097041 ]

## Historical Prediction MSE and R-Square

In [5]:
# Use our model to make predictions

predicted = ridge.predict(X_train_scaled)

# inv_predicted = y_scaler.inverse_transform(predicted)

hist_mse = mean_squared_error(y_train_scaled, predicted)
hist_r2 = ridge.score(X_train_scaled, y_train_scaled)

print(f"Mean Squared Error (MSE): {hist_mse}")
print(f"R-squared (R2): {hist_r2}")

Mean Squared Error (MSE): 0.239359719222003
R-squared (R2): 0.760640280777997

## Historical Predictions

In [6]:
# Generate Historical Prediction table with difference to actual numbers

hist_pred_0110_df = full_merge.loc[full_merge['Year'].between(2001, 2010), ['Year', 'World Barrels']]
hist_pred_0110_df["Prediction"] = inv_predict0110
hist_pred_0110_df["Difference"] = hist_pred_0110_df["Prediction"] - hist_pred_0110_df["World Barrels"]
hist_pred_0110_df["% Difference"] = ((hist_pred_0110_df["Prediction"] - hist_pred_0110_df["World Barrels"])/hist_pred_0110_df["World Barrels"])*100
hist_pred_0110_df

    Year  World Barrels    Prediction   Difference  % Difference
36  2001          77366  75801.621590 -1564.378410     -2.022049
37  2002          78238  77038.683898 -1199.316102     -1.532907
38  2003          79908  78118.652381 -1789.347619     -2.239260
39  2004          82654  79554.146094 -3099.853906     -3.750398
40  2005          83891  81806.877662 -2084.122338     -2.484322
41  2006          84916  83339.251298 -1576.748702     -1.856833
42  2007          86100  84942.316377 -1157.683623     -1.344580
43  2008          85170  86333.156029  1163.156029      1.365687
44  2009          84083  85595.098498  1512.098498      1.798340
45  2010          86856  85509.709704 -1346.290296     -1.550026

## Save Historical Predictions to CSV

In [7]:
# Export Historical Predictions table as CSV

hist_pred_0110_df.to_csv('../data/clean_data/oil_outputs/OilConsumption_Historical_Ridge_2001_2010.csv', index=False)

## Features' Rolling Average for 2019 - 2023

In [8]:
# Narrow down data frame to the specific year range of 2010 - 2018

multi_feat = full_merge.loc[full_merge['Year'].between(2010, 2018), ['Year',
                                                                     'World Population', 
                                                                   'World Barrels', 
                                                                   'World Inflation%', 
                                                                   'World Goods Tax%', 
                                                                   'World GDP%']]
multi_feat

,Year,World Population,World Barrels,World Inflation%,World Goods Tax%,World GDP%
45,2010,6921871614,86856,3.326345,31.875890,24.207113
46,2011,7002860604,87820,4.839403,33.264196,24.547417
47,2012,7085763408,88784,3.707818,33.271756,24.404915
48,2013,7169640142,90152,2.605818,32.787076,24.310278
49,2014,7254228377,90903,2.346269,33.191709,24.470283
50,2015,7338964960,92610,1.393330,33.724915,24.297531
51,2016,7424282488,94404,1.486007,34.248831,23.913640
52,2017,7509065705,96013,2.233522,33.333664,24.222791
53,2018,7591932907,97348,2.458142,34.011405,24.382773

In [9]:
# Iterate 5 times for 5 years (2019 - 2023) of rolling average of features

for i in range(5):
    starting_index = 4 + i
    year_inc = 2018 + i
    new_year = year_inc + 1

    pop_mean = multi_feat['World Population'].iloc[starting_index:starting_index+5].mean()
    infl_mean = multi_feat['World Inflation%'].iloc[starting_index:starting_index+5].mean()
    gtax_mean = multi_feat['World Goods Tax%'].iloc[starting_index:starting_index+5].mean()
    wgdp_mean = multi_feat['World GDP%'].iloc[starting_index:starting_index+5].mean()

    df = pd.DataFrame({"Year":[new_year],
                       "World Population":[pop_mean],
                       "World Barrels":0,
                       "World Inflation%":[infl_mean], 
                       "World Goods Tax%":[gtax_mean],
                      "World GDP%":[wgdp_mean]})
    
    multi_feat = multi_feat.append(df, ignore_index=True)
    del df
    
multi_feat

,Year,World Population,World Barrels,World Inflation%,World Goods Tax%,World GDP%
0,2010,6.921872e+09,86856,3.326345,31.875890,24.207113
1,2011,7.002861e+09,87820,4.839403,33.264196,24.547417
2,2012,7.085763e+09,88784,3.707818,33.271756,24.404915
3,2013,7.169640e+09,90152,2.605818,32.787076,24.310278
4,2014,7.254228e+09,90903,2.346269,33.191709,24.470283
5,2015,7.338965e+09,92610,1.393330,33.724915,24.297531
6,2016,7.424282e+09,94404,1.486007,34.248831,23.913640
7,2017,7.509066e+09,96013,2.233522,33.333664,24.222791
8,2018,7.591933e+09,97348,2.458142,34.011405,24.382773
9,2019,7.423695e+09,0,1.983454,33.702105,24.257404
10,2020,7.457588e+09,0,1.910891,33.804184,24.214828
11,2021,7.481313e+09,0,2.014403,33.820038,24.198287
12,2022,7.492719e+09,0,2.120082,33.734279,24.255216
13,2023,7.489450e+09,0,2.097394,33.814402,24.261702

## Multi-step Forecast

In [10]:
future_predict=[]
future_X = multi_feat[["World Population", "World Inflation%", "World Goods Tax%", "World GDP%"]]
future_y = multi_feat["World Barrels"].values.reshape(-1, 1)
X_scaler = StandardScaler().fit(future_X)
# We do not want to include the 0's after 2018. Set range [0:9] (not inclusive).
y_scaler = StandardScaler().fit(future_y[0:9])
X_test_scaled = X_scaler.transform(future_X)
# We do not want to include the 0's after 2018. Set range [0:9] (not inclusive).
y_test_scaled = y_scaler.transform(future_y[0:9])
X_test_scaled_df = pd.DataFrame(X_test_scaled)
y_test_scaled_df = pd.DataFrame(y_test_scaled)

for year in range(5):
    i = 9 + year
    # y_test_scaled_df need to have [year:i+1] to match X_test_scaled_df dimension or it will error with [9,8]
    ridge = model.fit(X_test_scaled_df.iloc[year:i], y_test_scaled_df.iloc[year:i+1])
    multi_predict2 = ridge.predict(X_test_scaled_df.iloc[i-1].values.reshape(1, -1))
    df2 = pd.DataFrame(pd.Series(multi_predict2.flatten()[0]))
    future_predict.append(multi_predict2.flatten()[0])
    
    y_test_scaled_df = y_test_scaled_df.append(df2, ignore_index=True)
    del df2

# Invert future_predict so it's not scaled for later comoparison
inv_future_predict = y_scaler.inverse_transform(future_predict)

print(inv_future_predict)

[97149.36315256 94732.4187476  95284.78802541 95682.03839783
 95846.83906719]

In [11]:
# Create Data Frame for historical and future MSE and R-Square

data = [["Ridge", hist_mse, hist_r2]]

mse_r2_df = pd.DataFrame(data, columns = ["Model", "Historical MSE", "Historical R-Square"])

mse_r2_df

   Model  Historical MSE  Historical R-Square
0  Ridge         0.23936              0.76064

In [12]:
# Export MSE and R-Square summary table as CSV

mse_r2_df.to_csv('../data/clean_data/oil_outputs/OilConsumption_MSE_R2_Ridge_Table.csv', index=False)

## Future Prediction

In [13]:
# Generate Prediction table

prediction_19_23 = multi_feat.loc[multi_feat['Year'].between(2019, 2023), ['Year']]
prediction_19_23["Prediction"] = inv_future_predict

prediction_19_23

    Year    Prediction
9   2019  97149.363153
10  2020  94732.418748
11  2021  95284.788025
12  2022  95682.038398
13  2023  95846.839067

## Push Future Predictions to CSV

In [14]:
#Export Future prediction table as CSV

prediction_19_23.to_csv('../data/clean_data/oil_outputs/OilConsumption_Future_Ridge_2019_2023.csv', index=False)